{% for about in content.about %}
<section class="bg-gray-1 pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]" id="about">
    <div class="container px-4 mx-auto">
        <div class="wow fadeInUp" data-wow-delay=".2s">
            <div class="flex flex-wrap items-center -mx-4">
                <div class="w-full px-4 lg:w-1/2">
                    <div class="mb-12 max-w-[540px] lg:mb-0">
                        <h2 class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
                            {{ about.title }}
                        </h2>
                        <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
                            {{ about.text }}
                        </p>
                        {% if about.link|length > 0 %}
                            <a href="{{ sulu_content_path(about.link) }}"
                               class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border rounded-md border-primary bg-primary px-7 hover:border-blue-dark hover:bg-blue-dark">
                                En savoir plus
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="w-full px-4 lg:w-1/2">
                    <div class="flex flex-wrap -mx-2 sm:-mx-4 lg:-mx-2 xl:-mx-4">
                        <div class="w-full px-2  sm:px-4 lg:px-2 xl:px-4">
                            <div class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[500px]">
                                <img alt="about image" class="object-cover object-center w-full h-full"
                                    src="{{ about.image.thumbnails['300x'] ?? about.image.url }}"/>
                            </div>
                        </div>
                                <div>
<span class="absolute top-0 left-0 -z-10">
<svg fill="none" height="144" viewbox="0 0 106 144" width="106" xmlns="http://www.w3.org/2000/svg">
<rect fill="url(#paint0_linear_1416_214)" height="131.304" opacity="0.1" transform="rotate(-42.8643 -67 47.127)"
      width="113.378" x="-67" y="47.127"></rect>
<defs>
<lineargradient gradientunits="userSpaceOnUse" id="paint0_linear_1416_214" x1="-10.3111" x2="-10.3111" y1="47.127"
                y2="178.431">
<stop stop-color="white"></stop>
<stop offset="1" stop-color="white" stop-opacity="0"></stop>
</lineargradient>
</defs>
</svg>
</span>
                                    <span class="absolute top-0 right-0 -z-10">
<svg fill="none" height="97" viewbox="0 0 130 97" width="130" xmlns="http://www.w3.org/2000/svg">
<rect fill="url(#paint0_linear_1416_215)" height="140.614" opacity="0.1" transform="rotate(-42.8643 0.86792 -6.67725)"
      width="155.563" x="0.86792" y="-6.67725"></rect>
<defs>
<lineargradient gradientunits="userSpaceOnUse" id="paint0_linear_1416_215" x1="78.6495" x2="78.6495" y1="-6.67725"
                y2="133.937">
<stop stop-color="white"></stop>
<stop offset="1" stop-color="white" stop-opacity="0"></stop>
</lineargradient>
</defs>
</svg>
</span>
                                    <span class="absolute bottom-0 right-0 -z-10">
<svg fill="none" height="104" viewbox="0 0 175 104" width="175" xmlns="http://www.w3.org/2000/svg">
<rect fill="url(#paint0_linear_1416_216)" height="148.179" opacity="0.1" transform="rotate(137.136 175.011 108.611)"
      width="101.246" x="175.011" y="108.611"></rect>
<defs>
<lineargradient gradientunits="userSpaceOnUse" id="paint0_linear_1416_216" x1="225.634" x2="225.634" y1="108.611"
                y2="256.79">
<stop stop-color="white"></stop>
<stop offset="1" stop-color="white" stop-opacity="0"></stop>
</lineargradient>
</defs>
</svg>
</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
